@font-face {
  font-family: 'Jura';
  src: url('assets/fonts/Jura-Bold.woff2') format('woff2'), url('assets/fonts/Jura-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 40%, rgb(169 169 169) 100%);
  background: radial-gradient(circle, rgba(244, 184, 182, 1) 0%, rgb(227 78 72) 100%);
  background: radial-gradient(at right 60%, rgba(244, 184, 182, 1) 0%, rgb(227 78 72) 100%);
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  overflow: hidden;
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

h1 {
  font-size: 4em;
  line-height: 1;
  margin: 0;
  padding: 0;
  margin-left: -1%;
}

p {
  font-size: 1.3em;
  line-height: 1.2;
  margin: 0;
}

#right {
  flex-grow: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#mouthwrapper {
  height: 85%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#mouthwrapper::after {
  content: '';
  position: absolute;
  left: 51%;
  top: 51%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 77%;
  height: 74%;
  border-radius: 100%;
  box-shadow: 0px 60px 100px 14px #770b07;
  opacity: 1;
}

#mouth {
  height: 95%;
  margin: auto;
  display: block;
}

.hotspots {
  position: absolute;
  fill: #ff0000;
  fill: #00cbff;
  opacity: 0;
  transition: opacity 0.3s 0s ease-in-out;
}

.hotspots:hover {
  opacity: 0.5;
}

#teeth {
  width: 85.8%;
  position: absolute;
  left: 8%;
  bottom: 15.3%;
  cursor: crosshair;
}

#tooltip {
  font-size: 1.6em;
  line-height: 2.4;
  color: black;
  white-space: nowrap;
  background-color: white;
  padding: 5px 20px;
  border-radius: 20px;
  box-shadow: 0px 12px 47px -6px rgba(0, 0, 0, 0.5);
  position: absolute;
  opacity: 0;
}
